body {
	text-align:center;
	background-color:#777777;
	font-family:monospace;
	font-size:20px;
}

p {
	margin:20px;
}

.text {
	text-shadow:none;
}

.box {
	margin:auto;
	box-shadow:none;
	display: block;
}


#textbox {
	width:500px;
	background-color:#aaff22;
}


#imagebox {
	width:500px;
	background-color:#7700aa;
}
	

